
*{
    background-color:  #2c3c3c;
    
}
h1{
    text-align: center;
   color:#BCFD4C;
}
.header{
    display: flex;
    justify-content: space-around;
    font-size: 24px;     
}
.header a{
    text-decoration: none;
    color: rgb(216, 216, 191);
    border: 1px solid black;
    box-shadow: 15px 8px  10px;
    padding: 10px;
    
    font-size: 30px;
}
.header a:hover{
    background-color: #BCFD4C;
    color: rgb(52, 76, 121);
}
.header a:active{
    background-color: rgb(121, 52, 87);
    color:wheat;
}
/*-----------------------------------*/
.main-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
    gap: 40px;    
    
    
}
.IMG{
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 15px 15px  20px;
    background-color: rgb(59, 81, 95);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 25px;
}
.IMG img{
    width: 100%;
    height: auto;
}
.IMG h2{
    color: rgb(183, 208, 219);
    background-color:rgb(59, 81, 95) ;
}
.IMG a{
    text-decoration: none;
    font-size: 20px;
    background-color: #BCFD4C;
    margin-right: 220px;
    padding:6px;
    border-bottom-left-radius: 10px;
    
}
.IMG a:hover{
    background-color: beige;
    color:#2c3c3c; ;
}
.IMG a:active{
    background-color: crimson;
}
.paragraph{
    
    border: 1px solid rgb(119, 98, 98);
    border-radius: 20px;
    box-shadow: 15px 15px  20px;
}
p{
    font-size: 16px;
    color:#CACFD2 ;
}

.footer-image{
    width: 450px;    
    box-shadow: 30px 35px  40px;
    margin-top: 50px;
}

.footer-image img{
    width: 100%;
    height: 100%;
}
footer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
form{
    margin-top: 140px;
    margin-bottom: 190px;
    margin-left: 40px;
}
    

.last-paragraph p{
    font-size: 15px;
}
label{
    color:  #BCFD4C;
}
input{
    width: 110px;
}
.enviar{
    background-color: rgb(52, 76, 121);
    color: #BCFD4C;
}


@media (max-width: 768px) {
    
    h1{
        font-size: 26px;
    }

    p {
        font-size: 16px;
    }
    .header a{
        font-size: 24px;
       
        text-decoration: none;
        color: beige;
        border: 1px solid black;
        padding: 5px;
    }
    .IMG h2{
        font-size: 18px;
    }
    .IMG a{
        text-decoration: none;
        font-size: 18px;
        background-color: #BCFD4C;
        margin-right: 170px;
        color:black;
       
    }
    .IMG{
        width: 250px;
    }
    .footer-image{
        width: 300px;
        height: 280px;
    }
    
    .footer-image img{
        width: 100%;
        height: 100%;
    }
    label{
        font-size: 12px;
    }
    input{
        width: 85px;
    }
    
    

 }
 @media (max-width: 576px) {
    
    h1{
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
    .header a{
        font-size: 14px;
        background-color: #BCFD4C;
        text-decoration: none;
        color: beige;
        border: 1px solid black;
        padding: 5px;
        background-color: rgb(52, 76, 121);
    }
    .IMG h2{
        font-size: 14px;
    }
    .IMG a{
        text-decoration: none;
        font-size: 12px;
        background-color: #BCFD4C;
        margin-right: 140px;
        color:black;
       
    }
    .IMG{
        width: 200px;
    }
    .footer-image{
        width: 220px;
        height: 180px;

    }
    
    .footer-image img{
        width: 100%;
    }
    label{
        font-size: 14px;
    }
    .last-paragraph{
        display: none;
    }
    
    

 }